/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #422711;
  --clr-primary-2: #51351a;
  --clr-primary-3: #5e4222;
  --clr-primary-4: #6c4f2b;
  /* primary/main color */
  --clr-primary-5:#775931;
  /* lighter shades of primary color */
  --clr-primary-6: #8e704d;
  --clr-primary-7: #a48a6a;
  --clr-primary-8: #a48a6a ;
  --clr-primary-9: #c3aa90;
  --clr-primary-10: #f7ead6;
  /* darkest blue - used for headings */
  --clr-blue-1: #314f77;
  --clr-blue-2: #3d6e9b;
  --clr-blue-3: #437faf;
  --clr-blue-4: #4b91c2;
  /* grey used for paragraphs */
  --clr-blue-5: #5bacd8;
  --clr-blue-6: #5bacd8;
  --clr-blue-7: #6cbadf;
  --clr-blue-8: #8ecde9;
  --clr-blue-9: #b8e1f2;
  --clr-blue-10: #e3f3fa;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-gold: #c59d5f;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/* global styles*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
    margin:0;
    line-height: 1.75rem;
    background-color: var(--clr-blue-10);
    color: var(--clr-blue-1);
    font-size: 0.875rem;
    font-family: var(--ff-secondary);

}
h1,h2,h3,h4 {
    font-family: var(--ff-primary);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    letter-spacing: var(--spacing);
}
img{
    display: block;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-blue-5);
  }
 
/* == global classes ==*/

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
  }
  .btn:hover {
    color: var(--clr-white);
    background: var(--clr-black);
  }
  /* section */
  .section {
    padding: 5rem 0;
  }
  
  .section-center {
    width: 90vw;
    margin: 5rem auto;
    max-width: 1170px;
  }
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  /* === countdown timer ===
  */
.countdown-section img{
    border-radius: var(--radius);
    max-width:100%;
    height: auto;
}
.deadline {
    display: flex;
  }
.deadline-format{
    background-color: var(--clr-blue-1);
    color: white;
    margin-right: 1rem;
    width: 5rem;
    place-items: center;
    text-align: center;
    width:5rem;
    height : 5 rem;
    display: grid;
}
.deadline-format h4{
    font-size: 2rem;
}
.deadline-format span{
    display: block;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1rem;
}

.countdown-section {
    width: auto;
    margin: 5rem 5rem;
    max-width: 1170px;
  }
  .countdown-info{
    padding-top: 1rem;
  }

/* === nav center ===*/
nav{
    background-color: white;
    box-shadow: var(--light-shadow);
    
}
.nav-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle{
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background-color: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover{
  counter-reset: var(--clr-primary-1);
  transform: rotate(90deg);
}

.logo{
  height:40px;
}
.links a{
  color: var(--clr-blue-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  padding: 0.5rem 1rem;
  display: block;
  
}
.links a:hover{
  background-color: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.links{
  height: 0;
  overflow: hidden;
  padding: 0rem;
  margin: 0;
  transition: var(--transition);
}
.show-links{
  height: 10rem;
}
.links.show-links li{
  margin-bottom: 0;
}
.fixed-nav{
  position:fixed;
  top: 0;
  left:0;
  width: 100%;
  background-color: white;
  box-shadow: var(--light-shadow);
}

@media screen and (min-width: 800px) {
  .nav-center {
   

    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header{
    padding: 0;
  }
  .nav-toggle{
    display: none;
  }
  .links {
    height: auto;
  }
  .links li{
    display: flex;
  }
  .links a{
    padding: 0;
    margin: 0 0.5rem;
  }
  
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .countdown-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    max-width: 1170px;
    place-items: center;
  
}

}



/* == places section==*/
.title h2{
  text-align: center;
  text-transform: uppercase;
}
#weather,
#activities{
  height: auto;
  
}
#weather{
  background-color: var(--clr-white);
}
/*===weather====*/
.weather-station-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-blue-10);
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
  padding:2rem;
  width:100%;
  max-width: 400px;

}
.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.w {
  display: flex;
  justify-content: center;
  
}
section#weather {
  padding: 5rem 5rem;
}

/*===activity===*/
.tab-btn{
  padding: 1rem 1rem;
  border:none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-blue-9);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
  color: var(--clr-blue-1);
}
.btn-container{
  display: flex;
  flex-direction: column;
  max-width: 138px;
  height: auto;
}
.activities-section{
  padding:5rem;
}
article.activities{
  background-color: white;
  border-radius: var(--radius);
  display: flex;
  min-width: 380px;
  height: auto;
  box-shadow: var(--light-shadow);
}
.tab-btn:nth-child(1){
  border-top-left-radius: var(--radius);
}
.tab-btn:last-child{
  border-bottom-left-radius: var(--radius);
}
.tab-btn:hover:not(.active){
  background-color: var(--clr-primary-10);
  color:var(--clr-primary-5);
}
.content {
  display: none;
}
.tab-btn.active{
  background-color: white;
}
.content.active{
  display: block;
}
article.activity-content {
  padding:1rem;
}

@media screen and (max-width: 420px) {
  .activities-section{
    padding: 1rem;
  }
  article.activities{
    max-width: 350px;
    display: flex;
    flex-direction: column;
  }
  .btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:350px;
    height: auto;
  }
  .tab-btn{
    font-size: 0.876rem;
  }
  .tab-btn:nth-child(3) {
    border-top-right-radius: var(--radius);
  }
  .tab-btn:last-child{
    border-bottom-left-radius:0;
  }
  
}